<html>
<head>
	<title>1. Overview</title>
	<link rel="stylesheet" type="text/css" href="rsrc/style.css">
</head>
<body>

<!-- Titre -->
<table width="100%" border="1" cellspacing="0">
  <tr> 
    <td class="header">1. Overview</td>
  </tr>
</table>

<!-- Le texte commence ici -->

<!-- Fin du fichier -->
<p class="conclusion">Conclusion</p>
<hr>
<div align="center" class="footer">2002-2005 VMU TOOL PC &copy;reated by <a href="http://sbibuilder.shorturl.com/" target="_blank">[big_fury]SiZiOUS</a> 
	- VMU TOOL PC Engine created by <a href="http://blueswirl.shorturl.com/" target="_blank">Speud</a> 
	- Help written by <a href="http://sbibuilder.shorturl.com/" target="_blank">[big_fury]SiZiOUS</a> 
	- <a href="http://www.dctop.fr.st/" target="_blank">La communaut&eacute; fran&ccedil;aise de la Dreamcast</a>
</div>
</body>
</html>